<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <div class="boddy">
        <div class="container">
          <h1>Fake News Detector</h1>
          

            <div class="main">
                 <form action="/predict" method="POST">
                      <textarea name="news" placeholder="Enter news text here..." required></textarea>
                           <br>
                           <div class="but">
                              <button type="submit">Check News</button>
                           </div>
                 </form>
            </div>

            {% if prediction %}
               <div class="result">
                   Result: {{ prediction }}
               </div>
            {% endif %}
        </div>    
     </div>   
     
     <footer>
        <p>&copy | 2026 | Satyam Kumar | All Rights Reserved</p>
     </footer>
</body>
</html>